/* GLOBAL STYLES */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: " ";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* nav styles */
  
  nav {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }
  
  nav a {
    color: white;
    opacity: 80%;
    text-decoration: none;
    margin: 5px 5px 5px 10px;
    padding: 0px 0px 5px 0px;
  }
  /* keeps the last child style seperate */
  
  nav, a:last-child {
    margin: 5px 5px 5px 10px;
    padding: 0px 0px 5px 0px;
  }
  
  header nav a:focus,
  header nav a:hover {
    color: white;
    opacity: 100%;
  }