.auth-wrap {
    display: flex;
}

.auth-info {
    margin: 5px 0px 0px 5px;
    padding: 5px;
    position: absolute;
    background-color: rgba(17, 128, 192, 0.4);
    color: white;
    font-size: 20px;
    width: 500px;
    border-radius: 5px;
}

.auth-background {
    width: 100%;
    height: 100vh;
}

.auth-button-wrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.auth-button {
    margin: 0px 20px ;
    padding: 5px;
    font-size: 50px;
    height: 50;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

.auth-button:hover {
    background-color: rgba(17, 128, 192, 0.4);
    border-radius: 5px;
}