.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-form {
    display: flex;
    
}

.auth-form-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    height: 300px;
    width: 300px;
    border-radius: 5px;
}

.auth-form-legend {
    text-align: center;
}

.form-input {
    margin: 5px
}

.btn-info  {
    margin: 5px;
}

